/* Add any custom CSS here */ 
.audio-player {
    width: 200px; /* Adjust width as needed */
    margin-top: 0; /* Remove top margin */
    background-color: white; /* Make background transparent */
} 

.flex {
    align-items: center;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 